/* global template */
.dark html {
    color: #FFFFFF;
    background-color: #1b1b1b;
}

a {
    color: #8a8a8a;
}

a:visited {
    color: #8a8a8a;
}

#navbar .sub_items ul {
    box-shadow: 0 0 9px 0px #000000;
    background-color: #232323;
}

.gutter.gutter-horizontal {
    background-color: #484848;
}

*::-webkit-scrollbar-track {
    background: #484848;
}

*::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
}

.dark #article #toc {
    background-color: rgb(46, 48, 62);
}

#to_top {
    background-color: #2d2d2d;
    box-shadow: 8px 8px 20px #000000;
}

#to_top:hover {
    box-shadow: 8px 8px 28px #000000;
}

#to_top:active {
    box-shadow: 0px 0px 20px #000000;
}

blockquote {
    background-color: #2d2d2d;
}

blockquote.spoiler {
    border-left: 5px solid #FF9800;
    background-color: #6e5200;
    color: white;
}

td {
    background-color: #373737;
    border: 2px solid #555555;
}

th {
    font-weight: 700;
    background-color: #0f5943;
    color: white;
    border: 2px solid #006f4f;
}

sup a {
    background-color: #2d2d2d;
}

a:hover {
    background-color: #424242;
}

#doc_footer {
    background-color: #2d2d2d;
    border-top: 1px solid #2d2d2d;
}

#page_footer {
    background-color: #2d2d2d;
    border-top: 1px solid #2d2d2d;
}

#footer a:hover {
    background-color: #404040;
}

#previous_next {
    border-top: 1px solid #525252;
}

#previous_next a {
    background-color: #2d2d2d;
}

/* google translate */
#navbar #google_translate_element .goog-te-gadget-simple {
    background-color: #1b1b1b;
}

#navbar #google_translate_element .goog-te-gadget-simple .goog-te-menu-value {
    color: #8a8a8a;
}

.dark #article_info > div > span {
    padding: 0.2em;
    color: #b2bec3;
}

.dark #article #toc a {
    color: #FFFFFF;
}

.dark #content_body {
    color: #FFFFFF;
}

.dark #content_body h1 {
    color: #b2bec3;
}

.dark #content_body a,.dark #content_body a:visited {
    color: #b2bec3;
    padding: 0.2em;
}

.dark .is-active-link {
    color: #FC466B;
}

.dark .is-active-link::before {
    border-left: 0 solid #283c86;
}

/*菜单按钮*/
.dark #menu {
    background: url("${site_root_url}static/image/theme_sakurajimamai/dark_menu.svg");
}

.dark #navbar .sub_items ul li a{
    color: #000000;
}

.dark #previous_next a {
    background-color: rgb(46, 48, 62);
    color: #FFFFFF;
}

.dark #sidebar .active > a, #navbar .active > a {
    background-color: #2d2d2d;
    color: ${main_color};
}

.dark #sidebar .active > a, #navbar .active > a, #navbar .active_parent > a {
    background-color: #2d2d2d;
}

.dark #sidebar li > a:hover, #sidebar li.active_parent > a:hover, #navbar li > a:hover, #navbar .sub_items > a:hover {
    background-color: #3F5EFB;
}

.dark #sidebar ul .active_parent > a {
    background-color: #3F5EFB;
}

.dark #sidebar li > a > .label {
    color: white;
}

.dark #sidebar .active > a, #navbar .active > a, #navbar .active_parent > a#sidebar .active > a, #navbar .active > a, #navbar .active_parent > a {
    background-color: #FC466B;
    border-radius: 5px;
    color: #000000;
    transition: 0.4s;
}

.type_doc.dark {
    background: rgb(46, 48, 62);
}

.dark #toc_content > .toc-list > .toc-list-item {
    border-left: 3px solid #3F5EFB;
}

.dark #toc_content > .toc-list > .toc-list-item.is-active-li {
    border-left: 3px solid #FC466B;
}

@media screen and (max-width: 900px) {
    #menu_wrapper.m_menu_fixed {
        background-color: rgb(27, 27, 27, 0.9);
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0, 0.32);
    }

    #sidebar_wrapper {
        background-color: #1b1b1b;
    }

    #navbar {
        display: block;
        border-bottom: 1px solid #383838;
        z-index: 89;
    }

    .dark #navbar_menu_btn {
        background: url("${site_root_url}static/image/theme_sakurajimamai/dark_menu.svg");
    }
}


