[build-system]
requires = [
    "pdm-pep517",
]
build-backend = "pdm.pep517.api"

[project]
name = "abSENSE"
version = "0.1.2"
authors = [
    { name = "Troy Comi", email = "tcomi@princeton.edu" },
]
maintainers = [
    { name = "Troy Comi", email = "tcomi@princeton.edu" },
]
description = "Perform homolog detectability"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Topic :: Scientific/Engineering",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Development Status :: 1 - Planning",
]
dependencies = [
    "typing_extensions >=3.7; python_version<'3.8'",
    "numpy>=1.21.1",
    "scipy>=1.6.1",
    "matplotlib>=3.5.1",
    "click>=8.1.2",
    "pandas>=1.1.5",
]

[project.license]
file = "LICENSE"

[project.optional-dependencies]
test = [
    "pytest >=6",
    "pytest-mock>=3.7.0",
]
dev = [
    "pytest >=6",
    "pytest-mock>=3.7.0",
]
docs = [
    "Sphinx>=4.0",
    "myst_parser>=0.13",
    "sphinx-book-theme>=0.1.0",
    "sphinx_copybutton",
]

[project.urls]
homepage = "https://github.com/PrincetonUniversity/abSENSE"

[project.scripts]
absense = "abSENSE.__main__:main"

[tool.pdm.dev-dependencies]
devtest = [
    "pytest",
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = [
    "-ra",
    "--showlocals",
    "--strict-markers",
    "--strict-config",
]
xfail_strict = true
filterwarnings = [
    "error",
]
testpaths = [
    "tests",
]

[tool.mypy]
files = "src"
python_version = "3.7"
warn_unused_configs = true
strict = true
show_error_codes = true
enable_error_code = [
    "ignore-without-code",
    "redundant-expr",
    "truthy-bool",
]
warn_unreachable = true
ignore_missing_imports = true

[tool.isort]
profile = "black"
skip_glob = [
    "workflow/scripts/*",
]
filter_files = true

[tool.pylint.master]
py-version = "3.7"
ignore-paths = [
    "src/abSENSE/_version.py",
]

[tool.pylint.reports]
output-format = "colorized"

[tool.pylint.similarities]
ignore-imports = "yes"

[tool.pylint.messages_control]
disable = [
    "design",
    "fixme",
    "line-too-long",
    "wrong-import-position",
]
